:root {
  --custom-red-100: #fdd0df;
  --custom-red-600: #c20e4d;
  --custom-red-800: #610726;
  --custom-green-100: #d1f4e0;
  --custom-green-600: #12a150;
  --custom-green-800: #095028;
  --custom-blue-100: #cce3fd;
  --custom-blue-600: #005bc4;
  --custom-blue-800: #002e62;
  --custom-gray-400: #a1a1aa;
  --custom-bg-dark: #222222;
  --custom-bg-light: #f4f4f5;
  --custom-nav-bg-dark: #2c2c2c;
  --custom-nav-bg-light: #ffffff;
  --custom-nav-active-dark: #3a3a3a;
  --custom-nav-active-light: #f4f4f5;
  --custom-nav-active-hover-dark: #3a3a3a60;
  --custom-nav-active-hover-light: #f4f4f560;
  --color-bg: var(--figma-color-bg);
  --color-bg-hover: var(--figma-color-bg-hover);
  --color-bg-active: var(--figma-color-bg-pressed);
  --color-border: var(--figma-color-border);
  --color-border-focus: var(--figma-color-border-selected);
  --color-icon: var(--figma-color-icon);
  --color-text: var(--figma-color-text);
  --color-bg-brand: var(--figma-color-bg-brand);
  --color-bg-brand-hover: var(--figma-color-bg-brand-hover);
  --color-bg-brand-active: var(--figma-color-bg-brand-pressed);
  --color-border-brand: var(--figma-color-border-brand);
  --color-border-brand-focus: var(--figma-color-border-selected-strong);
  --color-text-brand: var(--figma-color-text-onbrand);
}

#root {
  width: 100%;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-align: center;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  display: flex;
}

button {
  border-radius: 0.25rem;
  background: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  border: 1px solid var(--color-border);
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: var(--color-bg-hover);
}
button:active {
  background-color: var(--color-bg-active);
}
button:focus-visible {
  border: none;
  outline-color: var(--color-border-focus);
}
button.brand {
  --color-bg: var(--color-bg-brand);
  --color-text: var(--color-text-brand);
  --color-bg-hover: var(--color-bg-brand-hover);
  --color-bg-active: var(--color-bg-brand-active);
  --color-border: transparent;
  --color-border-focus: var(--color-border-brand-focus);
}

input {
  padding: 0.5rem;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

svg {
  stroke: var(--color-icon, var(--figma-color-icon));
}

main {
  display: flex;
  justify-content: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}
section > * + * {
  margin-top: 0.5rem;
}
footer > * + * {
  margin-left: 0.5rem;
}

img {
  height: auto;
  width: 2rem;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.cursor-text:hover {
  cursor: text;
}

.link {
  color: var(--figma-color-bg-brand);
  text-decoration: underline;
}

.link:hover {
  text-decoration-color: var(--figma-color-bg-brand-hover);
}
