.todo_container {
  margin-top: 1rem;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
}

.figma-dark .todo_container {
  background-color: var(--custom-nav-bg-dark);
  border: solid 1px var(--custom-nav-container-border-dark);
}

.figma-light .todo_container {
  background-color: var(--custom-nav-bg-light);
  border: solid 1px var(--custom-nav-container-border-light);
}

.todo_th {
  width: 100%;
  display: flex;
  height: 32px;
}

.figma-dark .todo_th {
  border-bottom: solid 1px var(--custom-nav-container-border-dark);
}

.figma-light .todo_th {
  border-bottom: solid 1px var(--custom-nav-container-border-light);
}

.todo_th__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.todo_th__item_label {
  font-size: 14px;
  color: var(--figma-color-text-disabled);
}

.todo_th__check {
  width: 32px;
}

.todo_th__text {
  flex: 1;
}

.todo_th__date {
  width: 140px;
  padding-right: 16px;
}

.todo_th__user {
  width: 140px;
  padding-right: 16px;
}

.todo_th__delete {
  width: 40px;
}

.todo_th__text svg path {
  fill: var(--custom-gray-400);
}

.todo_th__date svg path {
  fill: var(--custom-gray-400);
}

.todo_th__user svg path {
  fill: var(--custom-gray-400);
}

.todo_tr {
  width: 100%;
  display: flex;
  padding: 12px 0;
}

.figma-dark .todo_tr {
  border-bottom: solid 1px var(--custom-nav-container-border-dark);
}

.figma-light .todo_tr {
  border-bottom: solid 1px var(--custom-nav-container-border-light);
}

.completed_todo_tr {
  border-bottom: solid 1px var(--figma-color-bg-disabled);
}

.todo_td__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo_td__check {
  width: 32px;
  display: flex;
  justify-content: flex-start;
}

.todo_td__check_item {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  transition: all 0.2s;
}

.todo_td__check_item:hover {
  transform: scale(1.1);
}

.figma-dark .todo_td__check_item {
  background-color: var(--custom-nav-active-dark);
  border: solid 1px var(--custom-nav-active-dark);
}

.figma-dark .todo_td__check_item:hover {
  border: solid 1px var(--custom-nav-active-hover-light);
}

.figma-light .todo_td__check_item {
  background-color: var(--custom-nav-active-light);
  border: solid 1px var(--custom-nav-active-light);
}

.figma-light .todo_td__check_item:hover {
  border: solid 1px var(--custom-nav-active-hover-dark);
}

.todo_td__text {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  word-break: break-all;
  text-align: left;
  font-size: 0.9rem;
  font-weight: normal;
  padding-right: 8px;
}

.todo_td__text .todo_td_text_wrapper {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.figma-dark .todo_td__text .todo_td_text_wrapper {
  color: var(--custom-text-dark);
}

.figma-light .todo_td__text .todo_td_text_wrapper {
  color: var(--custom-text-light);
}

.todo_td__text .todo_td_text_wrapper:not(.completed):hover {
  cursor: text;
  background-color: var(--figma-color-bg-secondary);
}

.todo_td__text .todo_td_text_wrapper:not(.completed):focus {
  outline: none;
}

.todo_td__date {
  display: flex;
  justify-content: flex-start;
  width: 140px;
  padding-right: 16px;
  font-size: 14px;
}

.todo_td__date.completed {
  max-width: 140px;
}

.todo_td__user {
  display: flex;
  justify-content: flex-start;
  width: 140px;
  padding-right: 16px;
  font-size: 14px;
}

.todo_td__user.completed {
  max-width: 140px;
}

.figma-dark .todo_td__user.completed {
  color: var(--custom-text-dark);
}

.figma-light .todo_td__user.completed {
  color: var(--custom-text-light);
}

.figma-dark .todo_td__date.completed {
  color: var(--custom-text-dark);
}

.figma-light .todo_td__date.completed {
  color: var(--custom-text-light);
}

.todo_td__delete {
  width: 40px;
  border-radius: 8px;
}

.todo_td__delete:hover {
  background-color: var(--figma-color-bg-hover);
}

.todo_td__delete svg path {
  fill: var(--figma-color-bg-inverse);
}

.todo_input {
  background-color: var(--figma-color-bg);
  outline: none;
  font-size: 14px;
  border-radius: 8px;
  height: 36px;
  width: 100%;
  border: none;
  text-align: left;
  padding: 0.5rem;
  appearance: none;
  transition: background-color 0.2s;
}

.figma-dark .todo_input {
  color: var(--custom-text-dark);
}

.figma-light .todo_input {
  color: var(--custom-text-light);
}

.todo_input:hover,
.todo_input:focus {
  background-color: var(--figma-color-bg-secondary);
}

.add_todo_form_container {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.add_todo_form_textarea {
  flex: 1;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  color: var(--figma-color-text);
  min-height: 64px;
  resize: vertical;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Open Sans,
    Helvetica Neue,
    sans-serif;
  transition: background-color 0.2s;
}

.figma-dark .add_todo_form_textarea {
  background-color: var(--custom-nav-active-dark);
}

.figma-light .add_todo_form_textarea {
  background-color: var(--custom-nav-active-light);
}

.figma-dark .add_todo_form_textarea:hover,
.figma-dark .add_todo_form_textarea:focus {
  background-color: var(--custom-nav-container-border-dark);
}

.figma-light .add_todo_form_textarea:hover,
.figma-light .add_todo_form_textarea:focus {
  background-color: var(--custom-nav-container-border-light);
}
